{{- $source := $.Get "src" -}}
{{- if not $source -}}
  {{- errorf "Video 'src' must be supplied" -}}
{{- end -}}
{{- $video := or ($.Page.Resources.GetMatch $source) (resources.GetMatch $source) -}}
{{- $type := $.Get "type" -}}
{{- if $video -}}
  {{- $type = $type | default $video.MediaType.Type -}}
{{- end -}}
{{- if not $type -}}
  {{- errorf "Video 'type' must be supplied" -}}
{{- end -}}
{{- $caption := $.Get "caption" -}}
{{- $preload := $.Get "preload" | default "metadata" -}}
{{- $controls := $.Get "controls" | default true -}}
{{- $muted := $.Get "muted" -}}
{{- $loop := $.Get "loop" -}}
{{- $autoplay := $.Get "autoplay" -}}
{{- $poster := $.Get "poster" -}}
{{- $max_width := $.Get "max_width" | default "100%" -}}
{{- $centered := $.Get "centered" | default "true" -}}

{{- $style := slice
    (printf "max-width:%s" $max_width)
    "height:auto"
    "border-radius:8px"
-}}
{{- if eq $centered "true" -}}
  {{- $style = $style | append "display:block" "margin:1rem auto" -}}
{{- else -}}
  {{- $style = $style | append "display:inline-block" "margin:1rem 1rem" -}}
{{- end -}}
{{- $style_str := (delimit $style ";") | printf "%s;" | safeCSS -}}

{{- if $caption -}}
<figure>
{{- end -}}
  <video
      style="{{ $style_str }}"
      preload="{{ $preload }}"
    {{- if $controls }} controls{{ end -}}
    {{- if $muted }} muted{{ end -}}
    {{- if $loop }} loop{{ end -}}
    {{- if $autoplay }} autoplay{{ end -}}
    {{- with $poster }} poster="{{ . }}"{{ end -}}>
    <source
      src="{{ with $video }}{{ .RelPermalink }}{{ else }}{{ $source }}{{ end }}"
      type="{{ $type }}"
    >
    Your browser does not support the video element.
  </video>
{{- with $caption -}}
  <figcaption>{{ . }}</figcaption>
</figure>
{{- end -}}
